

</br><br>

<br>

<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  
        <!-- Indicators -->
        <ol class="left carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
          
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
              <%= image_tag('1text.png')%>
            </div>
        
            <div class="item">
                <%= image_tag('2text.png')%>
            </div>
        
            <div class="item">
                <%= image_tag('3text.png')%>
            </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
  
    </div>

</div>








<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br><center><h1>Department of Computer Science</h1></center>
      <p> The University of Balochistan offers graduate, postgraduate,
      doctoral and advanced programs of studies in various disciplines
      i-e Natural Sciences, Social Sciences, Business & Public
      Administration, <code>Computer Science</code> etc. The students
      of this University share some key characteristics: high talent,
      leadership quality and commitment for accomplishment of tasks.

      
      The University is equipped with the state of the art scientific
      equipped and well qualified faculty with in the country and
      abroad. The courses in different discipline of Science and Arts
      are designed to emphasize on research. Students are encouraged
      to think creatively and communicate their ideas effectivelyThe
      Science & Technology plays a vital role in the development of a
      country. Any nation cant progress with out the help of trained
      professionals in Science & Technology. At the University of
      Balochistan students are trained in the area of Natural,
      Physical, Chemical & Biological Sciences.

      
      The employers can recruit employees as per demand of their
      operation; the University of Balochistan produce human resource
      frequent in Pushto, Balochi, Baruhi and Persian languages for
      better communication with the local population. Human and Social
      Sciences departments of this University may help employers for
      launching their development strategies..
 
      
      </p> 
    </div> 
  </div>
  </div>
