<div class="menu">
    <div class="container-fluid">
		<div class="navbar-header">
			<a href="http://localhost:3000/">CSIT-UOB</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
			  
				<li><a href="http://localhost:3000/" ><span class="glyphicon glyphicon-user"></span> Home</a></li>
				<li><a href="#" ><span class="glyphicon glyphicon-user"></span> Help </a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</div>
</div>
